@media (max-width: 768px) {
  body{
    background-color: red;
  }
}

@media (max-width: 480px) {
  body{
    background-color: azure;
  }

  .flex{
    flex-flow: wrap;
  }

  .flex img{
    width: 50%;
    height: auto;
  }

  .left{
    width: 100%;
    justify-content: center;
  }

  .right{
    width: 100%;
  }

  .search-bar{
    width: 70vw;
    height: 0.8vh;
  }

}